.navbar
  background: white
  border-bottom: 1px solid black
  font: 14px "Gotham A", "Gotham B", sans-serif
  color: #292b2c

.wrapper
  text-align: center
  font: 14px "Gotham A", "Gotham B", sans-serif

.logo-container
  width: 100%
  overflow: hidden

.about-container
  width: 100%
  overflow: hidden
  position: relative

#about
  color: white
  position: absolute
  top: 30px
  width: 100%

#about p
  padding-bottom: 20px

#products h1
  padding: 20px

.product-container
  overflow: hidden
  border-radius: 10px
  box-shadow: 2px 2px 20px #5E5F68
  
.product
  width: 100%
  padding-top: 20px

#contact
  padding-top: 20px
  
.fa
  font-size: 32px
  padding: 10px