.navbar
  background: white
  border-bottom: 1px solid black
  font: 14px "Gotham A", "Gotham B", sans-serif
  color: #292b2c

.wrapper
  text-align: center
  font: 14px "Gotham A", "Gotham B", sans-serif

#about p
  padding-bottom: 20px

.logo-container
  width: 100%
  overflow: hidden

.logo
  width: 100%
  padding-left: 250px

.product-container
  height: 300px
  width: 300px
  overflow: hidden

.product
  width: 100%
  
.fa
  font-size: 32px
  padding: 10px