 <div class="wrapper">

  <header>
    <div class="header-wrap">
    
      <a href="#top" class="logo">Vida Verde Trading Co.</a>
      <nav>
        <a href="#6ingredients">Ingredients</a>
        <a href="#gum">Our Gum</a>
        <a href="#story">Our Story</a>
        <a href="#contact">Contact</a>
        <a href="#gum" class="last">Buy</a>
      </nav>
      
    </div>
  </header>
  
  <div class="container hero" id="top">
    
    <img class="desktop" src="images/logo.jpg">
    <img class="mobile" src="images/logo.jpg">
    
  </div>
    
  <div class="container" id="story">
    
    <div class="grid-container">
    
      <div class="grid-100 nopadding">
      
        <h3 class="story-title">We set out to make a better chew</h3>
        
        <p>The regular chewing gum you see on grocery store shelves is filled with artificial substances, including some of the same components used in the manufacture of car tires, plastic bottles, and white glue, as well as artificial sweeteners like aspartame.</p>
        
        <p>Consumers are kept in the dark about what they are chewing because the FDA allows conventional gum brands to hide up to 80 synthetic ingredients in the catch-all term "gum base" on the label.</p>
        
        <p>Although there are a few gum brands in the US market claiming to be "natural," all of them include synthetics in their base. </p>

        <p>We knew we could do better.</p>
      </div>
    </div> 
  </div>

  <div class="container" id="instagram"
    <h3 class="insta-title">#Simply Gum</h3>
    <a href="http://instagram.com/simplygum" target="_blank" class="follow-us">Follow us on instagram</a>
  </div>

  <div class="container" id="contact">
    
    <a href="#top" class="top-circle">Top</a>
    
    <div class="grid-container footer-container">
    
      <div class="grid-100 mobile-grid-100 nopadding">
        
        <div class="grid-100 mobile-grid-100 contact-block-wrap">
        
          <div class="contact-block grid-33 mobile-grid-100" id="contact-block-one">
            <p>Customer Service<br><a href="mailto:info@simplygum.com">info@simplygum.com</a></p>
          </div>
          
          <div class="contact-block grid-33 mobile-grid-100" id="contact-block-two">
            <p>Wholesale enquiries<br><a href="mailto:wholesale@simplygum.com">wholesale@simplygum.com</a></p>
          </div>
          
          <div class="contact-block grid-33 mobile-grid-100" id="contact-block-three">
            <p>Press enquiries<br><a href="mailto:press@simplygum.com">press@simplygum.com</a></p>
          </div>

        </div>
        
        <div class="newsletter-wrap grid-100 mobile-grid-100 nopadding">
          
          <div id="notification_container" class="grid-100 mobile-grid-100"></div>
          
          <div class="social">
            <a href="https://twitter.com/simplygum" target="_blank">Twitter</a>
            <a href="https://www.facebook.com/SimplyGum" target="_blank">Facebook</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


<script src="js/jquery.remodal.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="javascripts/main.js"></script>
