.wrapper
  .logo-container
    .row
      .col-md-1
      .col-md-10
        %img.logo.img-responsive.center-block(src="/images/logo.jpg")
      .col-md-1
  
  .about-container
    %img.about-pic.img-responsive.center-block(src="/images/about.jpg")
    #about
      .row
        .col-md-3
        .col-md-6 
          %h1 About
        .col-md-3
        
      .row
        .col-md-3
        .col-md-6 
          %p Vida Verde Trading Co. practices and promotes a healthy, sustainable lifestyle. We conduct trade in a socially and environmentally ethical manner in order to make a positive impact domestically and abroad.
        .col-md-3
          
      .row
        .col-md-3
        .col-md-6 
          %p Are you consuming the vital nutrients your body needs? Most people are not but believe they are! We hope to help you eliminate nutritional deficiencies without sacrificing great taste! Vida Verde Trading Co. is committed to the betterment of YOU- your health and happiness- and you deserve it.
        .col-md-3
      
      .row
        .col-md-3
        .col-md-6 
          %p We source farm-direct Andean specialty foods from small organic farms in and around the Sacred Valley. These super foods have been consumed by Peruvian natives for centuries and are now available for you.
        .col-md-3
        
      .row
        .col-md-3
        .col-md-6 
          %p Vida Verde welcomes you to join us in our journey to improve lives and help the planet.
        .col-md-3
  
  #products
    .row
      .col-md-3
      .col-md-6 
        %h1 Andean Specialty Super Foods
      .col-md-3
    
    .row
      .col-md-3
      .col-md-3
        .product-container
          %img.product.img-responsive(src="/images/chicha.jpg")
      .col-md-3
        .product-container
          %img.product.img-responsive(src="/images/seeds.jpg")
      .col-md-3
    
    %br 
    .row
      .col-md-3
      .col-md-3
        .product-container
          %img.product.img-responsive(src="/images/quinoa.jpg")
      .col-md-3
        .product-container
          %img.product.img-responsive(src="/images/seeds1.jpg")
      .col-md-3
    
    .row
      .col-md-3
      .col-md-6 
        %h1 Salts
      .col-md-3
      
    .row
      .col-md-3
      .col-md-3
        .product-container
          %img.product.img-responsive(src="/images/cacao.jpg")
      .col-md-3
        .product-container
          %img.product.img-responsive(src="/images/quinoa1.jpg")
      .col-md-3
    
  .row#contact
    <a href="https://twitter.com/VidaVerdeTradCo"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/pages/Vida-Verde-Trading-Co/1603027489931937"><i class="fa fa-facebook"></i></a>
    <a href="https://instagram.com/vidaverdetradingco/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.tumblr.com/blog/vidaverdetradingco"><i class="fa fa-tumblr"></i></a>
    <a href="mailto:vidaverdetradingco@gmail.com"><i class="fa fa-envelope"></i></a>

:css
  @media screen and (max-width: 500px) and (min-width: 0px) {
    .about-pic {
        background-image: none !important;
      }
    .about {
      color: black;
    }
  }
    